*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    width: 400px;
    margin: 2rem auto;
    height: 400px;
    border-radius: 20px;    
    box-shadow: 4px 4px 10px;
    /* overflow: hidden; */
    position: relative;
}
.tag{
    position:absolute;
    z-index: 999;
    background-color: darkkhaki;
    top: -15px;
    left: 50%;
    padding: .5rem 1rem;
    border-radius: 5px;
    box-shadow: 3px 3px 10px;
    transform: translateX(-50%)
    
}
.img {
    background-color: darkslategray;
    height: 150px;
    overflow: hidden;
    border-top-left-radius: 50px ;
    border-top-right-radius: 50px ;
}
.img img{
    display: flex;
    width: 100%;
}
.content{
    text-align: center;
    border-bottom: 2px solid;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.content h2{
    border-bottom: 1px solid #e5e5e5;
}
.content h1{
    padding: 1rem;
}
.content p{
    color:darkgray;
}
.Profile{
    align-items: center;
    padding-left: 1rem;
}
.Profile img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.Profile p{
    margin-left: 0.5rem;
}
.Comment{
    margin-right: 2rem;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
.Profile{
    display: flex;
}
